body{
    padding-bottom: 50px;
    background: rgb(245, 239, 251) !important;
}
.main-container {
    margin-top: 50px;
    background: white;
}
.about-title{
    color: rgb(0, 0, 0);
    font-size: 50px;
    text-align: center;
}
.p-title{
    font-size: 15px;
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}
/* .active-link{
    background: rgb(158, 158, 158);
    border-radius: 5px;
} */

.card-img, .card-img-bottom, .card-img-top {
    width: auto !important;
    margin: 0px 0px!important;
    height: 512px;
    border-radius: 8px;
    margin: 0px auto;
}